.footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 20px;

    .footerContent {
        max-width: 1440px;
        width: 100%;
    }

    a {
        color: white;
        text-decoration: none;
        margin-right: 10px;
    }
}