.footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(90deg, rgba(32, 32, 32, 1) 0%, rgba(61, 61, 61, 1) 50%, rgba(32, 32, 32, 1) 100%);

    .footerContent {
        max-width: 1440px;
        width: 100%;
    }

    a {
        color: white;
        text-decoration: none;
        margin-right: 10px;
    }
}