<div class="detailCard-container">
    <mat-card class="detailCard-header">
        <mat-card-content class="card-infos">
            <img src="/assets/img/user-profile-pic.png" alt="user profile pic">
            <div class="user-info">
                <p>Name</p>
                <p>Email</p>
                <p>street</p>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <h1>Address</h1>
        <p>Streetname</p>
        <p>Zip Code</p>
        <p>City</p>
    </mat-card>
</div>