.detailCard-container {
    padding-left: 50px;
    padding-right: 50px;

    .mt-32 {
        margin-top: 32px;
    }

    .card-infos {
        .user-info {
            display: flex;
            flex-direction: column-reverse;
            margin-left: 30px;

            p {
                margin: 0;
                margin-top: 10px;
            }
        }
    }

    .adress-container {
        position: relative;
        padding: 16px;

        .menu-btn {
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
}

.detailCard-header {
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    .menu-btn {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .card-infos {
        display: flex;
    }

    img {
        width: 100px;
    }
}


.note-Container {
    position: relative;
    min-height: 150px;
    padding: 16px;
    width: 50%;

    ul {
        padding-left: 16px;
        
        &:hover {
            background-color: rgba(252, 252, 252, 0.055);
        }

        li {
            padding-bottom: 5px;
            padding-top: 5px;
            cursor: pointer;
            p{
                margin: 0;
            }
        }
    }

    .add-note-btn {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}