<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <span (click)="drawer.toggle()" class="material-icons menu-button">
                menu
            </span>

            <span>
                Simple CRM
            </span>
        </mat-toolbar>
    </div>
</mat-drawer-container>