<div class="edit-user-details-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1>Edit Address</h1>
    <div>
        <mat-form-field class="mrr-10" appearance="fill">
            <mat-label>Address + Housenumber</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="street name + number">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Zip code</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip code">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City Name">
        </mat-form-field>
    </div>
    <div>
        <button class="mrr-10" mat-raised-button color="accent" [disabled]="loading"
            (click)="updateUser()">Save</button>
            <button mat-raised-button color="warn" [disabled]="loading" (click)="closeDialog()">Cancel</button>
    </div>
</div>