.contentAbsolut {
    position: absolute;
}

.toolbar-container {
    display: flex;
}

.mrTop {
    margin-top: 50px;
}

.example-container {
    height: 100vh;
}

.sideTapBTNContainer {
    .bckBTNContainer {
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}

mat-toolbar {
    position: fixed;
    z-index: 2;
}

.logout {
    background-color: #a52e2e;
}

.example-sidenav-content {
    overflow-x: hidden;

    .relativContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .userGreeting {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .center {
            display: flex;
            align-items: center;
            z-index: 2;
        }
    }

    p {
        margin: 0;
    }
}

.clickable {
    cursor: pointer;
}

.example-sidenav {
    width: 300px;

    .side-nav-box {
        border-bottom: solid #ccbbbb 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0;

        &:hover {
            background-color: #565656;
        }
    }
}

.menu-button {
    cursor: pointer;
    margin-right: 10px;
}

.logo {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .sideNav {
        width: 100vw !important;
    }

    .sideTapBTNContainer {
        position: relative;
        .bckBTNContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
}