.contentAbsolut {
    position: absolute;
}

.toolbar-container {
    display: flex;
}

.mrTop {
    margin-top: 50px;
}

.example-container {
    height: 100vh;
}

mat-toolbar {
    position: fixed;
    z-index: 2;
}

.example-sidenav-content {
    overflow-x: hidden;

    .relativContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .center {
            display: flex;
            align-items: center;
        }
    }

    p {
        margin: 0;
    }
}

.clickable {
    cursor: pointer;
}

.example-sidenav {
    width: 300px;

    .side-nav-box {
        border-bottom: solid #ccbbbb 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0;

        &:hover {
            background-color: #565656;
        }
    }
}

.menu-button {
    cursor: pointer;
    margin-right: 10px;
}

.logo {
    width: 100%;
}