<mat-drawer-container class="example-container " autosize>

    <mat-drawer #drawer class="example-sidenav sideNav" mode="side">

        <div class="clickable">
            <img [routerLink]="['dashboard']" class="logo" src="/assets/img/logo.png" alt="">
        </div>

        <div class="sideTapBTNContainer">
            <p (click)="drawer.toggle()" class="clickable side-nav-box" [routerLink]="['/main-site/dashboard']"
                routerLinkActive="router-link-active">
                Dashboard</p>
            <p (click)="drawer.toggle()" class="clickable side-nav-box" [routerLink]="['/main-site/user']"
                routerLinkActive="router-link-active">User</p>


            <div class="bckBTNContainer">
                <button (click)="drawer.toggle()" class="backArrow" mat-fab color="primary" matTooltip="Back to dashboard">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>

        </div>

        <p [routerLink]="['']" class="clickable side-nav-box logout">
            Logout
        </p>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar class="relativContainer">
            <div class="center">
                <span (click)="drawer.toggle()" class="material-icons menu-button">
                    menu
                </span>

                <span>
                    Simple CRM
                </span>
            </div>

            <p class="userGreeting">
                Welcome {{this.currentUser}}
            </p>

        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</mat-drawer-container>