<div id="login-field">
    <div class="sing-In-Or-Up-Field">
        <h1>Welcome to my simple CRM</h1>
        <p>do you want to:</p>
        <button [routerLink]="['/sing-in']" routerLinkActive="router-link-active" mat-raised-button color="accent">Sign
            in</button>
        or
        <button [routerLink]="['/sing-up']" routerLinkActive="router-link-active" mat-raised-button color="accent">Sign
            up</button>
        or
        <button [routerLink]="['/main-site']" routerLinkActive="router-link-active" mat-raised-button
            color="accent">Guest Login</button>
    </div>
</div>