<div id="login-field">
    <div class="centerContainer">
        <form class="sing-In-Or-Up-Field" (ngSubmit)="createAccount()">
            <mat-progress-bar *ngIf="isDataReady" mode="indeterminate"></mat-progress-bar>
            <h1>Welcome to my simple CRM</h1>

            <mat-form-field class="example-full-width">
                <mat-label>Your name</mat-label>
                <input ngModel minlength="1" [ngModelOptions]="{standalone: true}" [(ngModel)]="name" matInput
                    placeholder="type in your name" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input ngModel [ngModelOptions]="{standalone: true}" type="email" name="email" ngModel [email]="true"
                    [(ngModel)]="email" matInput placeholder="Email" required email>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>

                <input ngModel minlength="6" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" matInput
                    placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>

            </mat-form-field>

            <button type="submit" class="createBtn" mat-raised-button color="primary">
                Create new account
            </button>

            <button [routerLink]="['/sing-in']" routerLinkActive="router-link-active" mat-raised-button
                color="primary">I
                already have an account</button>
        </form>
    </div>
</div>

<div *ngIf="createtShow" class="overlayContainer">
    <h1>
        Account created
    </h1>
</div>


<div *ngIf="inUseShow" class="overlayContainer">
    <h1>
        Email in use
    </h1>
</div>