.add-icon-btn {
    position: absolute;
    right: 65px;
    bottom: 65px;
}

.userTable {
    border-collapse: collapse;

    tr {
        border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
    }

    .border-right {
        border-right: solid rgba(255, 255, 255, 0.2) 1px;
    }

    .border-left {
        border-left: solid rgba(255, 255, 255, 0.2) 1px;
    }

    .userList {
        td {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 0;
        }

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.050);
            cursor: pointer;
        }

        .mg-tp {
            margin-top: 10px;
        }
    }
}