<div class="dashContainer">
    <mat-card>
        <mat-card-content>
            <h1>Dashboard</h1>
        </mat-card-content>
    </mat-card>
</div>

<div>
    <app-day-and-time></app-day-and-time>
</div>

<div class="diagrammContainer">
    <div class="maxWidthContainer">
        <app-user-diagramm></app-user-diagramm>
        <app-total-user></app-total-user>
    </div>
</div>

<div class="maxWidthContainer">
    <app-income-diagramm></app-income-diagramm>
</div>

<div>
    <app-age-diagramm></app-age-diagramm>
</div>

<app-user-location-diagramm></app-user-location-diagramm>