.wrapper {
    position: relative;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

    .forgettPWContainer {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.452);
        border-radius: 15px;
        padding: 20px;
        width: 300px;
        position: absolute;
        animation: loginAnimation 1s ease-in-out;


        .animateContainer {
            a {
                text-decoration: none;
                color: white;
                background-color: #7b1fa2;
                padding: 5px;
                border-radius: 3px;
                transition: 125ms;

                &:hover {
                    background-color: #8a23b6;
                    scale: 1.05;
                    transition: 125ms;
                }
            }
        }
    }
}




@keyframes loginAnimation {
    0% {
        top: 500px;
    }

    100% {
        top: 100px;
    }
}