<div class="forgottContainer">
    <div *ngIf="emailEnter" class="forgettField">
        <h1>Enter the email you want to use to reset your password.</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input required email
             [(ngModel)]="email" matInput placeholder="Email">
        </mat-form-field>

        <button (click)="getInput()" mat-raised-button color="accent">Reset Password</button>
    </div>


    <div *ngIf="codeEnter" class="codeEnter">
        <h1>Enter the code sent to your email that you received.</h1>
        <mat-form-field>
            <mat-label>Code</mat-label>
            <input 
            required 
            [(ngModel)]="codeInput" 
            matInput 
            placeholder="Enter the sendet code">
        </mat-form-field>

        <button (click)="getCodesAndEmail(this.searchEmail.Email)" mat-raised-button color="accent">Reset
            Password</button>
    </div>


    <div *ngIf="enterNEwPw" class="enterPassword">
        <h1>Enter your new password</h1>
        <mat-form-field>
            <mat-label>Enter your new password</mat-label>
            <input ngModel minlength="6" 
            [ngModelOptions]="{standalone: true}" 
            matInput
            placeholder="Enter your password" 
            [type]="hide ? 'password' : 'text'" 
            required 
            [(ngModel)]="newPassword"
             matInput placeholder="Enter your new password">
        </mat-form-field>

        <button (click)="setNewPassword()" routerLinkActive="router-link-active"
            mat-raised-button color="primary">Set
            new password</button>
    </div>

</div>