<div class="forgottContainer">
   
    <div *ngIf="emailEnter" class="forgettField">
        <h1>Enter the email you want to reset a new password</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" matInput placeholder="Email again">
        </mat-form-field>

        <button (click)="emailEnter = false; codeEnter=true" mat-raised-button color="accent">Reset Password</button>
    </div>


    <div *ngIf="codeEnter" class="codeEnter">
        <h1>Enter the sendet code in your email you resive</h1>
        <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput placeholder="Enter the sendet code">
        </mat-form-field>

        <button (click)="codeEnter=false; enterNEwPw = true;" mat-raised-button color="accent">Reset Password</button>
    </div>


    <div *ngIf="enterNEwPw" class="enterPassword">
        <h1>Enter your new password</h1>
        <mat-form-field>
            <mat-label>Enter your new password</mat-label>
            <input matInput placeholder="Enter your new password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter your new password again</mat-label>
            <input matInput placeholder="Enter your new password again">
        </mat-form-field>

        <button [routerLink]="['/sing-in']" routerLinkActive="router-link-active" mat-raised-button color="primary">Set
            new password</button>
    </div>

</div>